<!--
  Generated template for the UsersProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button (click)="onAdd()" ion-button >
        <ion-icon right name="add-circle"></ion-icon>
      </button>
      <button (click)="onAddRole()" ion-button >
        <ion-icon right name="add-circle">Roles</ion-icon>
      </button>
      <button (click)="onAddRoleProfile()" ion-button >
        <ion-icon right name="add-circle">Perfil Rol</ion-icon>
      </button>
      
      
    </ion-buttons> 
    <ion-title>Usuarios</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-searchbar 
    [(ngModel)]="myInput"
    [showCancelButton]="true"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list>
    <ion-spinner name="circles" *ngIf="showSpinner" >  </ion-spinner>  
           
      <button ion-item icon-end *ngFor="let item of usersService.items | async" (click)="onClickItem(item)">
        
        {{item.email}} - {{item.apellido_nombre}}
      </button>                
    
  </ion-list>
</ion-content>
