  <ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-buttons end>
        <button (click)="onAdd()" ion-button >
          <ion-icon right name="add-circle"></ion-icon>
        </button>
      </ion-buttons> 
      <ion-title>Pacientes</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>
  
  <ion-searchbar 
    placeholder="Filtrar por Apellido y Nombre"
    [(ngModel)]="myInput"
    showCancelButton=true
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
</ion-searchbar>

      <ion-list>
        <ion-spinner name="circles" *ngIf="showSpinner" >  </ion-spinner>  
               
          <button ion-item icon-end *ngFor="let item of items | async" (click)="onClickItem(item)">
            
            {{item.apellido_nombre}} ({{item.dni}})
          </button>                
        
      </ion-list>

   <ion-infinite-scroll (ionInfinite)="scrolled($event)">
     <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más datos..."></ion-infinite-scroll-content>
   </ion-infinite-scroll>
  
  
  </ion-content>