<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cambio de Contraseña</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="formPass" (ngSubmit)="confirmar()">
        <ion-spinner name="circles" *ngIf="showSpinner" >  </ion-spinner>  
          <ion-list>
              <ion-item>
                    <ion-label floating>Contraseña Anterior</ion-label>
                    <ion-input type="password" [(ngModel)]="oldPassword" formControlName="oldPassword"></ion-input>
              </ion-item>  
              <ion-item> 
                    <ion-label floating> Nueva Contraseña </ion-label>   
                    <ion-input type="password" [(ngModel)]="password" formControlName="password"></ion-input>
              </ion-item>  
              <ion-item> 
                  <ion-label floating>Repita Contraseña </ion-label>   
                  <ion-input type="password" [(ngModel)]="password2" formControlName="password2"></ion-input>
            </ion-item>  
            <div  *ngIf="formPass.get('password2').hasError('password2MissMatching')">
                  Las contraseñas no coinciden
            </div>  
            
          </ion-list>  
          <button ion-button full round [disabled]="isValid()">Guardar</button>
    </form>

</ion-content>
